<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/icono.png">
    <title>DELI PIZZA</title>
</head>
<body>

    <!-- Boton up -->
    <div id="btn-top">
        <span class="fas fa-angle-up"></span>
    </div>

    <!-- Menu Principal -->
    <div class="menu-principal">
        <div class="logo" id="logo">
            <img src="..//img/logo.png" alt="Logo">
        </div>
        <div class="menu-bar" id="menuBar">
            <i class="fas fa-angle-right" id="btnMenuClose"></i>
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#equipo">Equipo</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
            <div class="sociales">
                <a href="#"><span class="fab fa-facebook"></span></a>
                <a href="#"><span class="fab fa-instagram"></span></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
        </div>
        <i class="fas fa-bars" id="btnMenuOpen"></i>
    </div>
  
    <!--Slider Productos -->
    <section id="menu-productos">
        <div class="contenedor-principal">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

            <div class="slider">
                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>producto <b>premium</b></h2>
                        <h1>Peperonni</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae illum quaerat excepturi maxime quos dolor voluptates, corporis, aliquam hic,</p>
                        <button class="btn"> ¡Solicitala Aquí!<span class="fas fa-angle-right"></span></button>  
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/peperoni.png" alt="Peperonni">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae illum quaerat excepturi maxime quos dolor voluptates, corporis, aliquam hic,</p>
                        <button class="btn"> ¡Solicitala Aquí!<span class="fas fa-angle-right"></span></button>  
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/especial.png" alt="especial">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>basico</b></h2>
                        <h1>Queso</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae illum quaerat excepturi maxime quos dolor voluptates, corporis, aliquam hic,</p>
                        <button class="btn"> ¡Solicitala Aquí!<span class="fas fa-angle-right"></span></button>  
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/margarita.png" alt="Queso">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>producto <b>premium</b></h2>
                        <h1>America</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae illum quaerat excepturi maxime quos dolor voluptates, corporis, aliquam hic,</p>
                        <button class="btn"> ¡Solicitala Aquí!<span class="fas fa-angle-right"></span></button>  
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/americana.png" alt="Americana">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>producto <b>especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae illum quaerat excepturi maxime quos dolor voluptates, corporis, aliquam hic,</p>
                        <button class="btn"> ¡Solicitala Aquí!<span class="fas fa-angle-right"></span></button>  
                    </div>

                    <div class="imagen-productos">
                        <img src="../img/menu/suprema.png" alt="Suprema">
                    </div>
                </div>
            </div>


            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>

        </div>
    </section>

    <!-- Seccion Servicios -->
    <section id="servicios">
        <div class="servicios-titulo">
            <h2 class="subtitulos">La mejor pizza del estado</h2>
            <h1 class="titulos">Bienvenidos a Deli Pizza</h1>
        </div>

        <div class="servicios-container">
            <div class="imagen-central">
                <img src="../img/mitad-mitad.png" alt="mitad-mitad">
            </div>

            <div class="items calidad">
                <p><span class="fas fa-pizza-slice"></span></p>
                <p class="titulo-item">Calidad</p>
                <p class="texto-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, omnis.</p>
            </div>
            <div class="items ingredientes">
                <p><span class="fas fa-cheese"></span></p>
                <p class="titulo-item">Ingredientes</p>
                <p class="texto-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, omnis.</p>
            </div>
            <div class="items rapidez">
                <p><span class="fas fa-clock"></span></p>
                <p class="titulo-item">Rápidez</p>
                <p class="texto-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, omnis.</p>
            </div>
            <div class="items delivery">
                <p><span class="fas fa-shipping-fast"></span></p>
                <p class="titulo-item">Delivery</p>
                <p class="texto-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, omnis.</p>
            </div>
           

        </div>
    </section>

    <!-- Seccion Equipo -->
    <section id="equipo">
        <div class="persona">
            <img src="../img/perfil1.png" alt="chef1" class="persona-imagen">
            <div class="persona-info">
                <h2>Juan Hernandez</h2>
                <p>Chef Pizzero</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil2.png" alt="chef2" class="persona-imagen">
            <div class="persona-info">
                <h2>Eliza Smith</h2>
                <p>Chef</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil3.png" alt="chef3" class="persona-imagen">
            <div class="persona-info">
                <h2>Henry Griffith</h2>
                <p>Asistente Chef</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../img/perfil4.png" alt="chef4" class="persona-imagen">
            <div class="persona-info">
                <h2>Paola Vega</h2>
                <p>Cocinera</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>

                </div>
            </div>
        </div>
    </section>

    <!-- Seccion Ingredientes -->
    <section id="ingredientes">
        <div class="ingre">
            <img class="imagen-ingre" src="../img/ingredientes1.jpg" alt="quesos">
            <div class="info-ingre">
                <p><span class="fas fa-cheese"></span></p>
                <p class="txt-ingre">Quesos</p>
            </div>
        </div>

        <div class="ingre">
            <img class="imagen-ingre" src="../img/ingredientes2.jpg" alt="vegetales">
            <div class="info-ingre">
                <p><span class="fas fa-leaf"></span></p>
                <p class="txt-ingre">Vegetales</p>
            </div>
        </div>

        <div class="ingre">
            <img class="imagen-ingre" src="../img/ingredientes4.jpg" alt="carne">
            <div class="info-ingre">
                <p><span class="fas fa-drumstick-bite"></span></p>
                <p class="txt-ingre">Carne</p>
            </div>
        </div>

        <div class="ingre">
            <img class="imagen-ingre" src="../img/ingredientes1.jpg" alt="ingrediente1">
            <div class="info-ingre">
                <p><span class="fas fa-cheese"></span></p>
                <p class="txt-ingre">Quesos</p>
            </div>
        </div>

    </section>

    <!--Seccion Contacto-->
    <section id="contacto">
        <div class="titulo-contacto">
            <h2 class="subtitulos">Queremos conocer tu opinión</h2>
            <h1 class="titulos">Contactanos</h1>
        </div>

        <form action="" id="formulario">
            <div class="two-fiels">
                <div class="inputConIcon">
                    <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre">
                    <i class="fas fa-user"></i>
                </div>

                <div class="inputConIcon">
                    <input type="email" id="email" name="email" class="input-email" placeholder="E-mail">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <div class="fiels">
                <div class="inputConIcon textareaIcon">
                    <textarea name="comentarios" id="comentarios"  class="textarea" placeholder="Ingrese su mensaje"></textarea>
                    <i class="fas fa-comments"></i>
                </div>
            </div>

            <div class="fiels-btn">
                <input type="submit" class="btn btn-input" value="Enviar">
            </div>
        </form>
    </section>

    <!-- Alerts -->
    <div class="alertas">
        <div id="alertError" class="alert hide">
            <span class="icono-alert fas fa-exclamation-circle"></span>
            <span class="msg">Error: Los campos estan vacios.</span>
        </div>
        <div id="alertSuccess" class="alert hide">
            <span class="icono-alert fas fa-check-circle"></span>
            <span class="msg">¡Datos enviados! Gracias por contactarnos.</span>
        </div>
    </div>

    <!-- Seccion footer -->
    <footer>
        <div class="sociales-metodo">
            <i class="fas fa-map-marked-alt"></i>
            <span>Lorem ipsum, dolor sit amet consectetur</span>
        </div>
        <div class="sociales-metodo">
            <i class="fas fa-envelope"></i>
            <span>info@delipizza.com</span>
        </div>
        <div class="sociales-metodo">
            <i class="fas fa-phone"></i>
            <span>+5520553099</span>
        </div>
        <div class="sociales-metodo">
            <i class="fab fa-facebook"></i>
            <span>@Deli_pizza</span>
        </div>
    </footer>

    <Script src="../js/app.js"></Script>
</body>
</html>